In [1]:
#Types of recommendor system: Popularity based,content based, collaborative filtering based
#hybrid recommendation

In [2]:
import numpy as np
import pandas as pd

In [4]:
books = pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv('Ratings.csv')

C:\Users\nitro 5\AppData\Local\Temp\ipykernel_23656\1748781244.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [8]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [9]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [11]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [12]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [13]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [15]:
books.duplicated().sum()

0

In [16]:
ratings.duplicated().sum()

0

In [17]:
users.duplicated().sum()

0

# Popularity based recommendor system

In [28]:
ratings_with_name = ratings.merge(books, on = 'ISBN')
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [35]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'}, inplace = True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [39]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_ratings'}, inplace = True)
avg_rating_df

                                               Book-Title  avg_ratings
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.     0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241068                                Ã?Â?sterlich leben.     7.000000
241069                              Ã?Â?stlich der Berge.     2.666667
241070                                  Ã?Â?thique en toc     4.000000

[241071 rows x 2 columns]

In [41]:
popular_df = num_rating_df.merge(avg_rating_df, on = 'Book-Title')
popular_df

,Book-Title,num_ratings,avg_ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [46]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_ratings', ascending = True).head(50)

In [47]:
popular_df

,Book-Title,num_ratings,avg_ratings
234951,Wild Animus,2502,1.019584
94382,Isle of Dogs,288,2.000000
143377,Presumed Innocent,294,2.139456
233635,Whispers,286,2.199301
227701,Vinegar Hill (Oprah's Book Club (Paperback)),265,2.245283
52409,Disclosure,318,2.345912
203176,The Prince of Tides,291,2.353952
38907,Congo,299,2.431438
150473,Rising Sun,278,2.442446
4808,A Map of the World,327,2.492355
201925,The Perfect Storm : A True Story of Men Agains...,404,2.539604
233513,While I Was Gone,431,2.580046
201692,The Pelican Brief,581,2.611015
32710,Cause of Death,287,2.620209
108268,Lightning,274,2.627737
155098,Scarlet Feather,256,2.632812
178850,The Book of Ruth (Oprah's Book Club (Paperback)),319,2.667712
19241,Back Roads,276,2.681159
191824,The Horse Whisperer,507,2.686391
203708,The Queen of the Damned (Vampire Chronicles (P...,274,2.708029
233091,When the Wind Blows,396,2.722222
4229,A Is for Alibi (Kinsey Millhone Mysteries (Pap...,285,2.733333
165026,Sphere,374,2.743316
79829,Hannibal,468,2.760684
67832,Flesh and Blood,254,2.775591
119580,Message in a Bottle,496,2.778226
24628,Black Notice,360,2.783333
7474,A Widow for One Year,273,2.783883
24758,Black and Blue,263,2.794677
99972,Kiss the Girls,256,2.828125
192195,The Hundred Secret Senses,336,2.830357
179274,The Brethren,556,2.850719
209117,The Street Lawyer,545,2.851376
196220,The Lost World,256,2.855469
230513,We Were the Mulvaneys,342,2.868421
194672,The Last Precinct,337,2.875371
11215,All I Really Need to Know,258,2.879845
205523,The Runaway Jury,520,2.880769
10429,Airframe,332,2.900602
126882,Mystic River,362,2.911602
204000,The Rainmaker,501,2.922156
47417,Deception Point,262,2.931298
227772,Violets Are Blue,379,2.955145
175131,The Alienist,350,2.965714
181210,The Cider House Rules,393,2.969466
191875,The Hot Zone,260,2.973077
240860,"\O\"" Is for Outlaw""",269,2.988848
193990,The Kitchen God's Wife,311,2.996785
153207,STONES FROM THE RIVER,364,3.002747
178265,The Blind Assassin,255,3.007843

In [57]:
popular_df = popular_df.merge(books, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title', 'Book-Author','Image-URL-M', 'avg_ratings', 'num_ratings']]

In [58]:
popular_df

,Book-Title,Book-Author,Image-URL-M,avg_ratings,num_ratings
0,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,1.019584,2502
1,Isle of Dogs,Patricia Cornwell,http://images.amazon.com/images/P/0425182908.0...,2.000000,288
7,Presumed Innocent,Scott Turow,http://images.amazon.com/images/P/0446359866.0...,2.139456,294
13,Whispers,BELVA PLAIN,http://images.amazon.com/images/P/0440216745.0...,2.199301,286
23,Vinegar Hill (Oprah's Book Club (Paperback)),A. Manette Ansay,http://images.amazon.com/images/P/0380730138.0...,2.245283,265
24,Disclosure,Michael Crichton,http://images.amazon.com/images/P/0345391055.0...,2.345912,318
27,The Prince of Tides,Pat Conroy,http://images.amazon.com/images/P/0553268880.0...,2.353952,291
31,Congo,Michael Crichton,http://images.amazon.com/images/P/0345378490.0...,2.431438,299
35,Rising Sun,MICHAEL CRICHTON,http://images.amazon.com/images/P/0345380371.0...,2.442446,278
38,A Map of the World,Jane Hamilton,http://images.amazon.com/images/P/0385500769.0...,2.492355,327
41,The Perfect Storm : A True Story of Men Agains...,Sebastian Junger,http://images.amazon.com/images/P/0060977477.0...,2.539604,404
44,While I Was Gone,Sue Miller,http://images.amazon.com/images/P/0345443284.0...,2.580046,431
48,The Pelican Brief,John Grisham,http://images.amazon.com/images/P/0440214041.0...,2.611015,581
51,Cause of Death,Patricia Daniels Cornwell,http://images.amazon.com/images/P/0425158616.0...,2.620209,287
59,Lightning,Dean R. Koontz,http://images.amazon.com/images/P/0425115801.0...,2.627737,274
66,Scarlet Feather,Maeve Binchy,http://images.amazon.com/images/P/0525945938.0...,2.632812,256
71,The Book of Ruth (Oprah's Book Club (Paperback)),Jane Hamilton,http://images.amazon.com/images/P/0385265700.0...,2.667712,319
72,Back Roads,Tawni O'Dell,http://images.amazon.com/images/P/0451202341.0...,2.681159,276
78,The Horse Whisperer,Nicholas Evans,http://images.amazon.com/images/P/0440222656.0...,2.686391,507
82,The Queen of the Damned (Vampire Chronicles (P...,Anne Rice,http://images.amazon.com/images/P/0345351525.0...,2.708029,274
84,When the Wind Blows,James Patterson,http://images.amazon.com/images/P/0316693324.0...,2.722222,396
95,A Is for Alibi (Kinsey Millhone Mysteries (Pap...,SUE GRAFTON,http://images.amazon.com/images/P/0553279912.0...,2.733333,285
96,Sphere,MICHAEL CRICHTON,http://images.amazon.com/images/P/0345353145.0...,2.743316,374
102,Hannibal,Thomas Harris,http://images.amazon.com/images/P/0440224675.0...,2.760684,468
114,Flesh and Blood,Jonathan Kellerman,http://images.amazon.com/images/P/0679459626.0...,2.775591,254
124,Message in a Bottle,Nicholas Sparks,http://images.amazon.com/images/P/0446523569.0...,2.778226,496
129,Black Notice,Patricia Daniels Cornwell,http://images.amazon.com/images/P/0399145087.0...,2.783333,360
135,A Widow for One Year,JOHN IRVING,http://images.amazon.com/images/P/0345424719.0...,2.783883,273
139,Black and Blue,ANNA QUINDLEN,http://images.amazon.com/images/P/0440226104.0...,2.794677,263
140,Kiss the Girls,James Patterson,http://images.amazon.com/images/P/0446601241.0...,2.828125,256
144,The Hundred Secret Senses,Amy Tan,http://images.amazon.com/images/P/0399141146.0...,2.830357,336
151,The Brethren,JOHN GRISHAM,http://images.amazon.com/images/P/0385497466.0...,2.850719,556
156,The Street Lawyer,JOHN GRISHAM,http://images.amazon.com/images/P/0440225701.0...,2.851376,545
161,The Lost World,Michael Crichton,http://images.amazon.com/images/P/034540288X.0...,2.855469,256
168,We Were the Mulvaneys,Joyce Carol Oates,http://images.amazon.com/images/P/0452282829.0...,2.868421,342
169,The Last Precinct,Patricia Cornwell,http://images.amazon.com/images/P/0425180638.0...,2.875371,337
173,All I Really Need to Know,ROBERT FULGHUM,http://images.amazon.com/images/P/080410526X.0...,2.879845,258
175,The Runaway Jury,JOHN GRISHAM,http://images.amazon.com/images/P/0440221471.0...,2.880769,520
181,Airframe,Michael Crichton,http://images.amazon.com/images/P/0345402871.0...,2.900602,332
186,Mystic River,Dennis Lehane,http://images.amazon.com/images/P/0380731851.0...,2.911602,362
193,The Rainmaker,JOHN GRISHAM,http://images.amazon.com/images/P/044022165X.0...,2.922156,501
200,Deception Point,Dan Brown,http://images.amazon.com/images/P/0671027387.0...,2.931298,262
203,Violets Are Blue,James Patterson,http://images.amazon.com/images/P/0446611212.0...,2.955145,379
207,The Alienist,Caleb Carr,http://images.amazon.com/images/P/0553572997.0...,2.965714,350
209,The Cider House Rules,John Irving,http://images.amazon.com/images/P/0553258001.0...,2.969466,393
217,The Hot Zone,Richard Preston,http://images.amazon.com/images/P/0385479565.0...,2.973077,260
221,"\O\"" Is for Outlaw""",SUE GRAFTON,http://images.amazon.com/images/P/0449003787.0...,2.988848,269
223,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,2.996785,311
228,STONES FROM THE RIVER,Ursula Hegi,http://images.amazon.com/images/P/0684844729.0...,3.002747,364
232,The Blind Assassin,Margaret Atwood,http://images.amazon.com/images/P/0385475721.0...,3.007843,255

In [59]:
ratings.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [60]:
books.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

# Collaborative Filtering

In [69]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] >200
good_users = x[x].index
good_users

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='User-ID', length=811)

In [75]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(good_users)]

In [84]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [85]:
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [89]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [95]:
pt = final_ratings.pivot_table(index = 'Book-Title', columns = 'User-ID', values = 'Book-Rating')

In [106]:
pt.fillna(0,inplace = True)
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [99]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_score = cosine_similarity(pt)

In [100]:
similarity_score

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [136]:
def recommend(book_name):
    index = np.where(pt.index == book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1],reverse=True)[1:6]
    for i in similar_items:
        print(pt.index[i[0]])
    return suggestions

In [141]:
recommend('1984')

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
The Hours : A Novel

NameError: name 'suggestions' is not defined